
    <div class="g-ft">
        <p class="m-cprt">©&nbsp;<a href="https://github.com/zhizhiyaya">枝枝丫丫</a>
            &nbsp;|&nbsp;Powered by <a href="https://github.com/zhizhiyaya">枝枝丫丫</a>
        </p>
    </div>
</div>
</div>
</div>
<script src="/scripts/manageIndex.js"></script>
<script src="/scripts/<%= pageName %>.js"></script>
</body>
</html>