<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>枝枝丫丫Blog</title>
	<link rel="stylesheet" href="/stylesheets/manageStyle.css">
</head>
<body>
	<header>
		<h1></h1>
	</header>

	<nav>
		<span><a title="主页" href="/">home</a></span>
		<span><a title="登录" href="/manage/login">login</a></span>
		<!--<span><a title="注册" href="/reg">register</a></span>-->
	</nav>

	<article>