.m-blog-form {
    height: 500px;
    width: 600px;
    /*padding: 28px 32px;*/
    background: rgba(255, 255, 255, .85);
}

.m-blog-form .blog-title {
    height: 28px;
    line-height: 28px;
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    box-shadow: inset 1px 1px 1px #dfdfdf;
}

.m-blog-form .blog-content {
    height: 320px;
    line-height: 28px;
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    /*box-shadow: inset -1px -1px 1px #dfdfdf;*/
}
.m-blog-form .tag{
    border-width: 0 1px;
    border-color: #dfdfdf;
    border-style: solid;
}
.m-blog-form .blog-title input, .m-blog-form .blog-content textarea {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    line-height: 30px;
    margin: 0;
    color: #333;
    font-size: 14px;
    border: none;
    background-color: transparent;
    outline: none;
}
.m-blog-form .blog-content input{
    height: 30px;
}
.m-blog-form .action-bar{
    height: 36px;
    margin-top: 20px;

}
/*.m-blog-form .blog-content textarea{*/

/*}*/
