.m-blog-list{
    margin: 10px 0;
}
.m-blog-list .item {
    position: relative;
    padding: 22px 24px 6px;
    margin: 16px 0;
    color: #444;
    border: 1px solid #efefef;
    box-shadow: 1px 1px 2px #dfdfdf;
    background: rgba(255, 255, 255, .85);
}

.m-blog-list .item .img{
    float: left;
    width: 164px;
    margin: 0 24px 6px 0;
}
.m-blog-list .item .title{
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    overflow: hidden;

    /*border-left: 1px solid #ff704c;*/
}
.m-blog-list .item .content{
    line-height: 24px;
    font-size: 14px;
    word-break: break-all;
    overflow: hidden;
}
.m-blog-list .tool-bar{
    color: #666;
    line-height: 24px;
}

.m-blog-list .info-box{
    margin-top: 10px;
    height: 32px;
    line-height: 32px;
    text-align: right;
}
.m-blog-list .info-box .tool{
    padding: 0 5px;
}
.m-blog-list .info-box a:hover{
    color: #f98;
}