.m-tag{
    height: 38px;
    padding: 0 10px;
    color: #222;
}
.m-tag .tokens{
    line-height: 20px;
    padding: 10px 0 10px 24px;
}
.m-tag .token{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 1px;
    margin-right: 8px;
    color: #aaa;
    font-size: 12px;
    white-space: nowrap;
}
.m-tag .token::after{
    content: ';';
}